<div class=" mt-5 container">
  <form class="mb-5" (ngSubmit)="add()" [formGroup]="addTaskForm">
    <div id="add-task-area" class="input-group mx-auto">
      <input type="text" class="col-auto form-control" placeholder="New task" formControlName="task">
      <button type="submit" class="input-group-text">+</button>
    </div>
  </form>
  <div class="row" cdkDropListGroup>
    <div class="col-md-6 mb-4">
      <app-list title="Added" [items]="newTasks"></app-list>
    </div>
    <div class="col-md-6">
      <app-list title="Completed" [items]="completedTasks"></app-list>
    </div>
  </div>
  <div id="help-btn" class="position-fixed d-flex align-items-end">
    <p id="help-text" class="bg-dark text-white p-3" #helpText>Drag to move or reorder tasks</p>
    <button
      type="button"
      class="btn btn-secondary btn-lg"
      (click)="toggleVisibility(helpText)"
    >
      <i class="bi bi-question-circle"></i>
    </button>
  </div>
</div>